# LinuxCNC runtime & logs
*.log
*.halcheck
*.pyc
__pycache__/

# HAL/VAR backup state
*.bak
*.var

# IDE/user state files
*.swp
*.swo
*.pickle
.vscode/
.idea/
*.autosave

# Qt Designer artifacts
*.qrc~
*~

# Probe Basic specific
False
halshow.preferences

# Ignore core dumps
core
